.explore:after {
    right: -127px;
    background: url(../images/home_wine_heading_l.png) no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.pricing {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
}

.pricing__item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
    -webkit-flex: 0 1 330px;
    flex: 0 1 330px;
}
.pricing__feature-list {
    text-align: left;
}

.pricing__action {
    color: inherit;
    border: none;
    background: none;
}

.pricing__action:focus {
    outline: none;
}

/* karma */
.pricing--karma .pricing__item {
    margin: 1em;
    color: #382628;
    background: #fff;
    cursor: default;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: 2px solid #382628;
    border-radius: 5px;
}

.pricing--karma .pricing__title {
    font-size: 1em;
    font-weight: 700;
    margin: 0.5em 0 0;
    padding: 1em;
    border-bottom: 2px solid #382628;
}

.pricing--karma .icon {
    display: inline-block;
    min-width: 2em;
}

.pricing--karma .pricing__price {
    font-size: 1.5em;
    padding: 0.5em 0 0 0;
    margin: 1em;
    font-weight: bold;
    border: 2px solid #382628;
    position: relative;
    z-index: 100;
}

.pricing--karma .pricing__item--featured .pricing__price::after {
    background: url(../img/stamp.png);
    background-size: cover;
    content: '';
    position: absolute;
    top: -30px;
    right: -20px;
    width: 100px;
    height: 100px;
    pointer-events: none;
}

.pricing--karma .pricing__currency {
    font-size: 16px;
    vertical-align: super;
}

.pricing--karma .pricing__period {
    font-size: 12px;
    display: block;
    padding: 1em;
    margin-top: 1.25em;
    border-top: 2px solid #382628;
}

.pricing--karma .pricing__sentence {
    margin: 0 0 1em 0;
    padding: 1em;
    font-size: 0.85em;
    border-bottom: 2px solid #382628;
}

.pricing--karma .pricing__feature-list {
    font-size: 0.85em;
    margin: 0;
    letter-spacing: 0;
    padding: 0 1em 2.5em 4em;
    list-style-type: square;
}

.pricing--karma .pricing__action {
    font-weight: bold;
    flex: none;
    margin: auto 1em 1em;
    color: #fff;
    background: #382628;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 2px solid #382628;
    text-transform: uppercase;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}
.btn_lg{
    padding:16px 28px !important;
    font-size: 0.95em !important;
}
.btn_md{
    padding:14px 26px !important;
    font-size: 0.85em !important;
}
.btn_sm{
    padding:12px 24px !important;
    font-size: 0.65em !important;
}

.pricing--karma .pricing__action:hover,
.pricing--karma .pricing__action:focus {
    background-color: #ffdbd5;
    color: #382628;
}
.wine-card {
    margin: 1em;
    /*color: #382628;*/
    /*background: #fff;*/
    cursor: default;
    /*border: 2px solid #382628;*/
    /*border-radius: 5px;*/
}
.wine-card-text{
    font-size: 18px !important;
    /*font-style: italic !important;*/
    line-height: 32px !important;
}
.btn-wine{
    font-weight: bold !important;
    flex: none !important;
    color: #fff !important;
    background: #382628 !important;
    letter-spacing: 2px !important;
    border-radius: 5px !important;
    border: 2px solid #382628 !important;
    text-transform: uppercase !important;
    -webkit-transition: background-color 0.3s, color 0.3s !important;
    transition: background-color 0.3s, color 0.3s !important;
}
.btn-wine:hover,
.btn-wine:focus {
    background-color: #ffdbd5 !important;
    color: #382628 !important;
}
a.pricing__action {
    text-decoration: none;
}
.pd-tp-sm{
    padding-top: 10px;
}
.pd-tp-md{
    padding-top: 20px;
}
.pd-tp-lg{
    padding-top: 40px;
}

.bbxx_container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}
.pure-g {
    letter-spacing: 0;
    display: flex;
    flex-flow: row wrap;
    text-rendering: optimizespeed;
}
.pure-u-1{
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    width: 100%;
}
.hiw_wrapper ol {
    width: 80%;
    margin: 0px auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    -ms-column-gap: 20px;
    -o-column-gap: 20px;
    column-gap: 20px;
    columns: 2;
}
.hiw_wrapper ol li {
    float: left;
    padding: 20px 0;
    font-size: 18px;
    list-style: none;
}
.hiw_wrapper ol li img {
    float: left;
    width: 64px;
    margin: -15px 20px 10px 10px;
    padding: 10px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    background-color: #650934;
}
/*.pricing__price small{*/
    /*font-size: 1.8em;*/
/*}*/
.type {
    margin: 20px auto 10px auto;
    padding: 15px 0;
    background-color: #FFF;
    /*width: 90%;*/
    position: relative;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-box-shadow: 1px 1px 8px 1px #c7c7c7;
    box-shadow: 1px 1px 8px 1px #c7c7c7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.type:hover {
    border: 1px solid #660935;
}
.type img {
    margin: 0 auto;
}
.type p {
    margin: 0 10px 20px 10px;
    line-height: 1.4;
}
.type.subscriptions h3 a{
    color: #D4B66E !important;
}
.bg-white{
    background-color: #ffffff;
}
.list-style-none li{
    list-style-type: none !important;
    list-style: none !important;
}
.wine-selection{
    font-size: 10px;
    font-weight: bold;
    color: #212121;
}
img.scale-with-grid.wine-sample {
    width: 50% !important;
}
.custom-form h2 {
    color: #912f32;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal !important;
    padding: 20px 0px 10px 0px;
    line-height: 10px;
}
.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
    border: 1px dashed #444;
    width: 150px;
    height: 150px;
    transition: 500ms all;
}

input[type=radio]:checked + label>img {
    transform:
            rotateZ(-10deg)
            rotateX(10deg);
}
span.wine-select-list {
    display: inline-flex;
    vertical-align: middle;
}
p.label-text{
    font-weight: 800;
    font-size: 8px;
    margin:0px !important;
    padding:0px !important;
    color: #212121;
}
.mg-lr-md{
    margin: 0px 10px 0px 10px;
}