.explore:after {
    right: -127px;
    background: url(../images/home_wine_heading_l.png) no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.pricing {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
}

.pricing__item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
    -webkit-flex: 0 1 330px;
    flex: 0 1 330px;
}
.pricing__feature-list {
    text-align: left;
}

.pricing__action {
    color: inherit;
    border: none;
    background: none;
}

.pricing__action:focus {
    outline: none;
}

/* karma */
.pricing--karma .pricing__item {
    margin: 1em;
    color: #382628;
    background: #fff;
    cursor: default;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: 2px solid #382628;
    border-radius: 5px;
}

.pricing--karma .pricing__title {
    font-size: 1em;
    font-weight: 700;
    margin: 0.5em 0 0;
    padding: 1em;
    border-bottom: 2px solid #382628;
}

.pricing--karma .icon {
    display: inline-block;
    min-width: 2em;
}

.pricing--karma .pricing__price {
    font-size: 1.5em;
    padding: 0.5em 0 0 0;
    margin: 1em;
    font-weight: bold;
    border: 2px solid #382628;
    position: relative;
    z-index: 100;
}

.pricing--karma .pricing__item--featured .pricing__price::after {
    background: url(../img/stamp.png);
    background-size: cover;
    content: '';
    position: absolute;
    top: -30px;
    right: -20px;
    width: 100px;
    height: 100px;
    pointer-events: none;
}

.pricing--karma .pricing__currency {
    font-size: 16px;
    vertical-align: super;
}

.pricing--karma .pricing__period {
    font-size: 12px;
    display: block;
    padding: 1em;
    margin-top: 1.25em;
    border-top: 2px solid #382628;
}

.pricing--karma .pricing__sentence {
    margin: 0 0 1em 0;
    padding: 1em;
    font-size: 0.85em;
    border-bottom: 2px solid #382628;
}

.pricing--karma .pricing__feature-list {
    font-size: 0.85em;
    margin: 0;
    letter-spacing: 0;
    padding: 0 1em 2.5em 4em;
    list-style-type: square;
}

.pricing--karma .pricing__action {
    font-weight: bold;
    flex: none;
    margin: auto 1em 1em;
    color: #fff;
    background: #382628;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 2px solid #382628;
    text-transform: uppercase;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}
.btn_lg{
    padding:16px 28px !important;
    font-size: 0.95em !important;
}
.btn_md{
    padding:14px 26px !important;
    font-size: 0.85em !important;
}
.btn_sm{
    padding:12px 24px !important;
    font-size: 0.65em !important;
}

.pricing--karma .pricing__action:hover,
.pricing--karma .pricing__action:focus {
    background-color: #ffdbd5;
    color: #382628;
}
.wine-card {
    margin: 1em;
    /*color: #382628;*/
    /*background: #fff;*/
    cursor: default;
    /*border: 2px solid #382628;*/
    /*border-radius: 5px;*/
}
.wine-card-text{
    font-size: 18px !important;
    /*font-style: italic !important;*/
    line-height: 32px !important;
}
.btn-wine{
    font-weight: bold !important;
    flex: none !important;
    color: #fff !important;
    background: #382628 !important;
    letter-spacing: 2px !important;
    border-radius: 5px !important;
    border: 2px solid #382628 !important;
    text-transform: uppercase !important;
    -webkit-transition: background-color 0.3s, color 0.3s !important;
    transition: background-color 0.3s, color 0.3s !important;
}
.btn-wine:hover,
.btn-wine:focus {
    background-color: #ffdbd5 !important;
    color: #382628 !important;
}
a.pricing__action {
    text-decoration: none;
}
.pd-tp-sm{
    padding-top: 10px;
}
.pd-tp-md{
    padding-top: 20px;
}
.pd-tp-lg{
    padding-top: 40px;
}

.bbxx_container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}
.pure-g {
    letter-spacing: 0;
    display: flex;
    flex-flow: row wrap;
    text-rendering: optimizespeed;
}
.pure-u-1{
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    width: 100%;
}
.hiw_wrapper ol {
    width: 80%;
    margin: 0px auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    -ms-column-gap: 20px;
    -o-column-gap: 20px;
    column-gap: 20px;
    columns: 2;
}
.hiw_wrapper ol li {
    float: left;
    padding: 20px 0;
    font-size: 18px;
    list-style: none;
}
.hiw_wrapper ol li img {
    float: left;
    width: 64px;
    margin: -15px 20px 10px 10px;
    padding: 10px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    background-color: #650934;
}
/*.pricing__price small{*/
    /*font-size: 1.8em;*/
/*}*/
.type {
    margin: 20px auto 10px auto;
    padding: 15px 0;
    background-color: #FFF;
    /*width: 90%;*/
    position: relative;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-box-shadow: 1px 1px 8px 1px #c7c7c7;
    box-shadow: 1px 1px 8px 1px #c7c7c7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.type:hover {
    border: 1px solid #660935;
}
.type img {
    margin: 0 auto;
}
.type p {
    margin: 0 10px 20px 10px;
    line-height: 1.4;
}
.type.subscriptions h3 a{
    color: #D4B66E !important;
}
.bg-white{
    background-color: #ffffff;
}
.list-style-none li{
    list-style-type: none !important;
    list-style: none !important;
}
.wine-selection{
    font-size: 10px;
    font-weight: bold;
    color: #212121;
}
img.scale-with-grid.wine-sample {
    width: 50% !important;
}
.custom-form h2 {
    color: #912f32;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal !important;
    padding: 20px 0px 10px 0px;
    line-height: 10px;
}
.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #C0392B;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
    border: 1px dashed #444;
    width: 150px;
    height: 150px;
    transition: 500ms all;
}

input[type=radio]:checked + label>img {
    transform:
            rotateZ(-10deg)
            rotateX(10deg);
}
div.wine-select-list {
    display: inline-flex;
    vertical-align: middle;
}
p.label-text{
    font-weight: 800;
    font-size: 13px;
    margin:0px !important;
    padding:0px !important;
    color: #212121;
}
.mg-lr-md{
    margin: 0px 10px 0px 10px;
}
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 280px;
    height: 40px;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c0392b;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}
.select-styled:hover {
    background-color: #b83729;
}
.select-styled:active, .select-styled.active {
    background-color: #ab3326;
}
.select-styled:active:after, .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #fff transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    /*background-color: #ab3326;*/
    background-color: #FFFFFF;
    border: 1px solid #AB3326;
}
.select-options li {
    margin: 0;
    padding: 7px 0;
    text-indent: 15px;
    border-top: 1px solid #962d22;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.select-options li:hover {
    color: #FFFFFF;
    background: #AB3326;
}
.select-options li[rel="hide"] {
    display: none;
}
ul.select-options {
    margin: 0px;
}
ul.select-options li {
    list-style: none !important;
    color: #AB3326;
    margin: 0px !important;
}
.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
    background-color: #48E68B;
}

.red {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
    background-color: #FF6656;
}

.yellow {
    background-color: #f1c40f;
    box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
    background-color: #FFDE29;
}
.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}
.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}
@-webkit-keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
@-moz-keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 8.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #C0392B;
}
.option-input:checked::before {
    height: 20px;
    width: 20px;
    position: absolute;
    content: '\2714';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 20px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #C0392B;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}